.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.search-bar {
  width: 100%;
  height: 50px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 50px;
  border: 2px solid gray;
}

.search-bar.focused {
  border: 2px solid red;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.1rem ;
}

.search-bar button {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(128, 128, 128, 0.2);
  cursor: pointer;
}

.search-bar button img {
  width: 30px;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 700px;
  height: 400px;
}

.column {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid red;
  border-radius: 5px;
}

.add-btn {
  float: right;
  margin: 10px;
  width: 32px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 1.2rem;
  color: #fff;
  background-color: gray;
  cursor: pointer;
}

.sort-btn {
  float: left;
  padding: 5px 10px;
  margin: 10px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 3px;
  background-color: gray;
  cursor: pointer;
}

.sort-btn img {
  width: 14px
}

.list {
  position: absolute;
  left: 15px;
  top: 50px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.post-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  width: 100%;
  height: 30px;
  border: 2px solid black;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.post-title-prev {
  font-weight: 700;
}

.description {
  font-size: 0.6rem;
}

.average-rate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.average-rate img {
  width: 15px;
}

.delete-btn {
  margin: 10px;
  width: 32px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 1.2rem;
  color: #fff;
  background-color: gray;
  cursor: pointer;
}

.posts-board {
  margin: 0 auto;
  width: 800px;
  padding: 20px 40px;
}

.post-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.post-text {
  font-size: 1.1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 20px 70px;
}

.comment-info {
  display: flex;
  align-items: center;
}

.comment-text {
  width: 550px;
  margin-right: 50px;
}

.comment-rate {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.comment-rate img {
  width: 15px;
}

.rate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 0.9rem;
  margin-top: 5px;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.rate-btn img {
  width: 14px;
}

.tooltip {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  width: 100px;
  height: 30px;
  background: #eee;
  padding: 10px 20px;

  border: none;
  border-radius: 5px;
  text-align: center;
}

.tooltip img {
  width: 20px;
  cursor: pointer;
}

.addComment-form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text-input {
  width: 500px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  font-size: 1.1rem ;
  border-radius: 5px;
  border: 2px solid gray;
}

.text-input:focus {
  border: 2px solid red;
}

.send-btn {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.send-btn img {
  width: 40px;
}