.tooltip-container {
  position: relative;

  .tooltip {
    position: absolute;
    top: -57px;
    left: -35px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  
    width: 100px;
    height: 30px;
    background: #eee;
    padding: 10px 20px;
  
    border: none;
    border-radius: 5px;
    text-align: center;

    &.shifted {
      margin-left: 70px;
    }

    img {
      width: 20px;
      cursor: pointer;
    }
  }
}