@import '../../styles/colors.scss';

.user-btn-container {
  position: relative;

  .profile-menu {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #525a60;

    .user-info-wrapper {
      display: flex;

      .user-avatar {
        padding: 10px;
        border-radius: 50%;
        border: 2px solid $accent-color;

        img {
          width: 50px;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;

        .user-name {
          padding: 0 0 5px 10px;
          font-size: 1.1rem;
          font-weight: 700;
          color: $primary-color;
        }

        .user-email {
          padding: 0 0 5px 10px;
        }
      }
    }
    
    button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 5px 10px;
      font-size: 1.1rem;
      border: none;
      color: #fff;
      background-color: $accent-color;
      transition: all .3s;
      overflow: hidden;
      z-index: 1;
      cursor: pointer;

      img {
        width: 20px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $accent-color;
        z-index: -2;
      }
    
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($accent-color, 15%);
        transition: all .3s;
        z-index: -1;
      }

      &:hover {
        color: $background-color;
        &:before {
          width: 100%;
        }
      }
    }
  }
}