$primary-color: #007bff;
$secondary-color: #6c757d;
$accent-color: #17a2b8;
$background-color: #f8f9fa;
$button-background: #dededf;
$white-bg: #fff;
$shadow-color: rgba(0, 0, 0, .1);
$red-color: #ff0000;
$modal-background: rgba(0, 0, 0, 0.5);
$modal-bg-low: rgba(0, 0, 0, 0.2);